ZAI_API_KEY=your_z_ai_api_key_here
SUI_NETWORK=mainnet
RIOT_PACKAGE_ID=0x_from_publish_step
WALRUS_PUBLISHER_URL=https://publisher.mainnet.walrus.site
WALRUS_AGGREGATOR_URL=https://aggregator.mainnet.walrus.site
TATUM_API_KEY=your_tatum_key_here
NEXT_PUBLIC_APP_URL=http://localhost:3000
